aiohttp
async-timeout
beautifulsoup4
certifi
chardet
colorama
configparser
gitdb2
GitPython
idna
multidict
mysqlclient==1.3.12
pyasn1
requests
robobrowser==0.5.3
rsa
six
smmap2
telepot
urllib3
Werkzeug==0.15.3
yarl
